/* ============================== CSS variables ============================== */
:root {
    --bg-color: #0a192f;
    --block-color: #112240;
    --highlight-color: #64ffda;
    --main-text-color: #ffffff;
    --secondary-text-color: #6c757d;
    --main-font: "Inter", sans-serif;
    --secondary-font: "Fira Code", monospace;
    --extra-large-font-size: clamp(40px, 8vw, 70px);
    --medium-large-font-size: 24px;
    --medium-font-size: 20px;
    --small-font-size: 16px;
    --extra-small-font-size: 12px;
}

html {
    background: var(--bg-color);
    font-family: var(--main-font);
    min-height: 100vh;
    margin: 0px;
    padding: 16px;
    /* border: 2px solid red; */
}

/* ============================== HTML tags ============================== */
h1,
h2,
h3,
h4 {
    font-family: var(--main-font);
    line-height: 1.1;
}

p {
    line-height: 1.4;
}

.large-heading {
    color: var(--main-text-color);
    font-size: var(--extra-large-font-size);
    font-weight: 600;
    line-height: 1.1;
}

.medium-heading {
    color: var(--main-text-color);
    font-size: var(--medium-large-font-size);
    font-weight: 700;
    padding-bottom: 12px;
}

.small-heading {
    color: var(--highlight-color);
    font-size: var(--medium-font-size);
    font-family: var(--secondary-font);
}

button {
    box-shadow: inset 0 0 0 1px var(--highlight-color);
    border-radius: 4px;
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    transition: box-shadow 0.3s;
}

button:hover {
    box-shadow: inset 0 0 0 2px var(--highlight-color);
}

/* ============================== Website sections - custom classes ============================== */
/* Header */
.top-header {
    background-color: var(--bg-color);
    color: #fff;
    text-align: right;
    padding: 10px 0;
    min-height: 10vh;
    /* border: 2px solid green; */
}

.header-menu {
    color: var(--main-text-color);
    font-family: var(--secondary-font);
    font-size: var(--small-font-size);
    list-style-type: decimal-leading-zero;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.header-menu li {
    margin-left: 85px;
    color: var(--highlight-color);
}

.header-menu li .text {
    color: var(--main-text-color);
    transition: color 0.3s;
}

.header-menu a {
    text-decoration: none;
}

.header-menu li .text:hover {
    color: var(--highlight-color);
}

/* Intro */

.intro-hello {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-icons {
    min-height: 10vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: top;
    padding-right: 32px;
}

.nav-icons {
    display: flex;
}

.nav-icons a {
    margin-left: 16px;
}

/* About section */
.about {
    min-height: 50vh;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

.section-about {
    display: flex;
}

.about-list {
    list-style-type: none;
    padding-left: 20px;
    columns: 2;
    column-gap: 12px;
    font-family: var(--secondary-font);
    padding-top: 12px;
}

.about-list li {
    position: relative;
    padding-bottom: 6px;
}

.about-list li::before {
    content: "+";
    color: var(--highlight-color);
    font-family: var(--secondary-font);
    position: absolute;
    left: -20px;
}

.image-box {
    position: relative;
}

.image-box img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.box-effect {
    position: absolute;
    top: 16px;
    left: 16px;
    right: -16px;
    bottom: -16px;
    border: 2px solid var(--highlight-color);
    transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease;
}

.img-about:hover .box-effect {
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -20px;
}

.title-list {
    list-style-type: decimal-leading-zero;
    color: var(--highlight-color);
    font-family: var(--secondary-font);
    font-size: var(--medium-large-font-size);
}

.title-text {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: var(--medium-large-font-size);
}

/* Work Section */

.work {
    background-color: var(--bg-color);
}

.project-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
}

.project-card {
    width: 400px;
    height: 335px;
    overflow: hidden;
    background-color: var(--block-color);
    color: var(--main-text-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 4px;
    transition: box-shadow 0.3s;
}

.project-card:hover {
    box-shadow: inset 0 0 0 1px var(--highlight-color);
}

.project-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.icon-a {
    padding-right: 12px;
}

.details-block {
    padding: 24px;
}

.tag-list {
    display: flex;
    padding: 0px 24px;
}

.tag {
    padding-right: 20px;
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-size: var(--small-font-size);
}

/* Contact section */
.contact {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    min-height: 40vh;
    align-items: center;
}

/* Footer */
.footer {
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
}

/* ============================== Utilities ============================== */

/* Padding and margin */
.mg-40-rl {
    margin: 0px 40px;
}

.mg-40-td {
    margin: 40px 0px;
}

.mg-80-td {
    margin: 80px 0px;
}

.p-40-t {
    padding-top: 40px;
}

.p-80-td {
    padding: 80px 0px;
}

/* Flex */
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-8 {
    flex: 8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.btn-s {
    padding: 8px 12px;
    font-size: var(--small-font-size);
}

.btn-m {
    margin: 0;
    padding: 16px 16px;
    font-size: var(--small-font-size);
}

/* Nav */
.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dec-with-zero {
    list-style-type: decimal-leading-zero;
}

/* Typography */
.sec-text-color {
    color: var(--secondary-text-color);
}
